@charset "utf-8";

/* common */

ul {
  list-style: none;
}
body {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #000;
}
section {
  margin-top: 20px;
}
button {
  border: 0;
  background: none;
  color: #fff;
  font-size: 18px;
  font-weight: normal;
}

/* search-bar */
#search-bar {
  position: fixed;
  width: 100%;
  z-index: 1000;
}
#search-bar .navbar {
  background-color: #000; /*box-shadow: rgba(155, 155, 155, 0.2) 0px 0px 26px 0px;*/
  width: 100%;
  padding: 10px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
.navbar .box {
  justify-content: flex-start;
  padding: 0 60px;
}
.navbar .box .nav-logo {
  margin-right: 60px;
}
.navbar .box .nav-logo a {
  display: block;
}
.navbar .box .search-container {
  position: relative;
}
.navbar .box .search-container input {
  border-radius: 8px;
  width: 450px;
  padding: 7px 50px;
  background-color: rgba(125, 125, 125, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.15);
  color: #fff;
}
.navbar .box .search-container input::placeholder {
  color: #808080;
  font-weight: 700;
}
.navbar .box .search-container .fa-magnifying-glass {
  position: absolute;
  top: 35%;
  left: 20px;
  color: #808080;
}
.navbar .box .btn {
  background-color: #176b3a;
  border-radius: 8px;
  border-style: none;
  color: #fff;
  display: inline-block;
  font-weight: 600;
  overflow: hidden;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
  padding: 0 30px;
}
.navbar .box .btn:hover,
.navbar .box .btn:active,
.navbar .box .btn:focus {
  opacity: 1;
  transform: translateY(0);
  transition-duration: 0.35s;
  background-color: #27ae60;
}

/* content */
.container {
  margin: 80px auto 130px;
  max-width: 1600px;
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
}

/* main */
.titleSpace {
  margin-left: 2em;
  margin-top: 5em;
  display: flex;
  justify-content: space-between;
}

.upperBar .titleSpace {
  margin-top: 0;
}

.titleSpace h2 {
  font-size: 30px;
  font-weight: 900;
}

#lowerBar .row,
#recommendLowerBar .row,
#recommendListLowerBar .row,
.recommendRow {
  display: inline-block;
  float: left;
  margin-left: 2em;
  margin-top: 1em;
}

#lowerBar .col,
#recommendLowerBa .col,
#recommendListLowerBar .col {
  height: 250px;
  box-shadow: 2px 2px 3px #666;
  border-radius: 10%;
  background-color: #202020;
}

#lowerBar .col,
#recommendLowerBa .col,
#recommendListLowerBar .col {
  height: 250px;
  box-shadow: 2px 2px 3px #666;
  border-radius: 10%;
  background-color: #202020;
}
#lowerBar .col:hover,
#lowerBar .col:focus,
#lowerBar .col:active,
#recommendLowerBa .col:hover,
#recommendLowerBa .col:focus,
#recommendLowerBa .col:active,
#recommendListLowerBar .col:hover,
#recommendListLowerBar .col:focus,
#recommendListLowerBar .col:active{
  background-color: rgba(32, 32, 32,0.3);
  opacity: 0.5;
  cursor: pointer;
}



.recommendCol {
  width: 80wh;
  height: 250px;
  box-shadow: 2px 2px 3px #666;
  border-radius: 10%;
  background-color: #202020;
}

#lowerBar .col-lg-8,
#recommendLowerBa .col-lg-8,
#recommendListLowerBar .col-lg-8 {
  margin-left: 0.5em;
  max-width: 100%;
  max-height: 100%;
}

.album-img-size {
  margin-top: 1em;
  width: 150px;
  height: 150px;
}

#lowerBar .col-lg-4,
#recommendLowerBa .col-lg-4,
#recommendListLowerBar .col-lg-4 {
  display: block;
  margin-left: 1em;
  margin-top: 1.5em;
  width: 150px;
  height: 80px;
  color: white;
}

#lowerBar .col-lg-4 h5,
#recommendLowerBa .col-lg-4 h5,
#recommendListLowerBar .col-lg-4 h5 {
  font-size: 17px;
  font-weight: 900;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#lowerBar .col-lg-4 p,
#recommendLowerBa .col-lg-4 p,
#recommendListLowerBar .col-lg-4 p {
  font-size: 11px;
  font-weight: 500;
}

#lowerBar .col-lg-4 div,
#recommendLowerBa .col-lg-4 div,
#recommendListLowerBar .col-lg-4 div {
  margin-bottom: 0px;
}

#more-toggle {
  background-color: transparent;
  border: none;
  color: #b8b8b8;
  margin-top: 20px;
}

#recommendToggle {
  background-color: transparent;
  border: none;
  color: #b8b8b8;
  margin-top: 20px;
}
.section-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.singer-image-bottom {
  display: flex;
  align-items: center;
}

.singer-image-bottom img:hover {
  cursor: pointer;
}

#artist-area {
  display: flex;
  justify-content: space-between;
  margin: 30px 0 50px;
  padding: 0 60px;
}

.singer-image-top img {
  width: 240px;
  border-radius: 170px;
}
.singer-image-top span {
  font-size: 40px;
  font-weight: 600;
  margin-left: 20px;
}
#artist-area .sub_area {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#artist-area .sub_area h3 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 30p;
}
.singer-image-bottom .linked_artist {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 50px;
}
.singer-image-bottom .linked_artist:hover,
.singer-image-bottom .linked_artist:focus,
.singer-image-bottom .linked_artist:active{
  opacity: 0.5;
  cursor: pointer;
}

.singer-image-bottom .linked_artist span {
  font-size: 18px;
  padding-top: 10px;
}
.singer-image-bottom .linked_img img {
  width: 130px;
  border-radius: 110px;
}
.album_box {
  padding: 0 60px 100px;
}
.album_box h3 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
}
#album-area {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#album-area .album-container {
  display: flex;
  flex-direction: column;
  padding-right: 20px;
}
#album-area .album-container:hover,
#album-area .album-container:focus,
#album-area .album-container:active{
  background-color: rgba(32, 32, 32,0.3);
  opacity: 0.5;
  cursor: pointer;
}
.album-container img {
  width: 13vw;
  border-radius: 5px;
  margin-bottom: 20px;
}
.album-container img:hover {
  cursor: pointer;
}

.track_box {
  padding: 0 60px 60px;
}
.track_box h3 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
}

.track-container {
  display: flex;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.track-container .img:hover,
.track-container .img:focus,
.track-container .img:active{
  opacity: 0.5;
  cursor: pointer;
}
.track-container img {
  width: 62px;
}
.track-container .name {
  font-weight: 700;
  font-size: 18px;
  color: #fff;
}
.track-container .name:hover{
  text-decoration: underline;
  cursor: pointer;
}
.track-container span {
  text-align: center;
  color: #b3b3b3;
}

/* 트랙리스트 css */
.track_info_box {
  margin: 50px 0;
  display: flex;
  padding: 0 60px;
}
.track_info_box img {
  border-radius: 10px;
  width: 250px;
  height: 250px;
}
.track_info_box .track_info {
  padding-left: 50px;
}
.track_info h2 {
  font-size: 60px;
  font-weight: 800;
}
.track_info .top_text {
  font-size: 22px;
  color: rgba(255, 255, 255, 0.7);
}
.track_info .bottom_text {
  font-size: 16px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.7);
}
.track_info .icon_area {
  display: inline-block;
}
.track_info .down_icon {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 25px;
  padding: 8px 20px;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.7);
  margin-right: 20px;
}
.track_info .down_icon:hover,
.track_info .down_icon:focus,
.track_info .down_icon:active {
  background-color: rgba(135, 135, 135, 0.4);
}

.track_info .fa-square-plus {
  padding-right: 10px;
}
.track_info .heart-btn {
  font-size: 23px;
  padding-right: 20px;
}
.track_info .random {
  font-size: 23px;
}
.track_info .random:hover,
.track_info .random:active,
.track_info .random:focus {
  color: #27ae60;
}

.track_container .list_title {
  padding: 0 40px 20px 40px;
}
.track_container .list_title div {
  display: flex;
  justify-content: center;
  font-size: 17px;
  font-weight: 700;
  color: #b3b3b3;
}
.track_container .list_title::after {
  content: "";
  width: 98%;
  background-color: #b3b3b3;
  height: 1px;
  margin: 20px auto 0;
}

.track_container .track_container {
  padding: 20px 40px 0 40px;
}
.track_container .track_music div {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  text-align: center;
  color: #b3b3b3;
  align-items: center;
}
.track_container .track_music .name {
  color: #fff;
  font-weight: 700;
  font-size: 18px;
}
.track_container .album-cover {
  width: 60px;
  height: 60px;
}

/* music-player */
#music-player {
  width: 100%;
  position: fixed;
  bottom: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  display: flex;
  justify-content: space-between;
  background-color: #360909;
  background-color: #181818;
  color: #fff;
  padding: 10px 50px 15px;
}

#music-player .music-info {
  display: flex;
}
.music-info .thumb {
  display: flex;
  margin-right: 20px;
}
.music-info .music-text h3 {
  font-size: 18px;
  font-weight: 700;
}
.music-info .music-text p:hover {
  text-decoration: underline;
}
.music-info .music-text p {
  font-size: 14px;
  margin-bottom: 0;
  color: #a2a2a2;
}
.music-info .heart-btn {
  background: none;
  border: 0;
  color: #a2a2a2;
  padding-left: 40px;
  font-size: 21px;
  display: flex;
  align-items: center;
}

.heart-btn:hover,
.heart-btn:active,
.heart-btn:focus {
  color: #ff4242;
}

#music-player .play-control {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.play-control .navigation {
  display: flex;
  justify-content: center;
}
.play-control .navigation button {
  margin: 0 15px;
}
.play-control .navigation button:hover,
.play-control .navigation button:focus {
  color: #27ae60;
}
.play-control .navigation button.big:hover,
.play-control .navigation button.big:focus {
  color: #27ae60;
  border-color: #27ae60;
}
.play-control .navigation button.big {
  border: 2px solid #fff;
  border-radius: 50px;
  width: 35px;
  height: 35px;
}
.play-control .navigation button.big.none {
  display: none;
}
#music-player .progress {
  height: 3px;
  background-color: #818181;
}
#music-player .progress:active {
  background-color: #fff;
}

#music-player .ect-bar {
  display: flex;
  justify-content: flex-end;
}
.ect-bar button {
  margin-left: 25px;
}
.ect-bar button:hover,
.ect-bar button:focus {
  color: #27ae60;
}
.ect-bar .progress-container {
  display: flex;
  align-items: center;
  font-size: 20px;
}
.ect-bar .progress-container .progress {
  width: 100px;
  margin-left: 10px;
  background-color: #818181;
}
.ect-bar .progress-container .progress:active {
  background-color: #fff;
}

/* 트랙리스트 css */
.track_info_box {
  margin: 50px 0;
  display: flex;
  padding: 0 60px;
}
.track_info_box img {
  border-radius: 10px;
  width: 250px;
  height: 250px;
}
.track_info_box .track_info {
  padding-left: 50px;
}
.track_info h2 {
  font-size: 60px;
  font-weight: 800;
}
.track_info .top_text {
  font-size: 22px;
  color: rgba(255, 255, 255, 0.7);
}
.track_info .bottom_text {
  font-size: 16px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.7);
}
.track_info .icon_area {
  display: inline-block;
}
.track_info .down_icon {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 25px;
  padding: 8px 20px;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.7);
  margin-right: 20px;
}
.track_info .down_icon:hover,
.track_info .down_icon:focus,
.track_info .down_icon:active {
  background-color: rgba(135, 135, 135, 0.4);
}

.track_info .fa-square-plus {
  padding-right: 10px;
}
.track_info .heart-btn {
  font-size: 23px;
  padding-right: 20px;
}
.track_info .random {
  font-size: 23px;
}
.track_info .random:hover,
.track_info .random:active,
.track_info .random:focus {
  color: #27ae60;
}

.track_container .list_title {
  padding: 0 40px 20px 40px;
}
.track_container .list_title div {
  display: flex;
  justify-content: center;
  font-size: 17px;
  font-weight: 700;
  color: #b3b3b3;
}
.track_container .list_title::after {
  content: "";
  width: 98%;
  background-color: #b3b3b3;
  height: 1px;
  margin: 20px auto 0;
}

.track_container .track_container {
  padding: 20px 40px 0 40px;
}
.track_container .track_music div {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  text-align: center;
  color: #b3b3b3;
  align-items: center;
}
.track_container .track_music .album:hover,
.track_container .track_music .album:focus,
.track_container .track_music .album:active{
  cursor: pointer;
  text-decoration: underline;
}
.track_container .track_music .name {
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  
}
.track_container .track_music .name:hover,
.track_container .track_music .name:focus,
.track_container .track_music .name:active{
  text-decoration: underline;
  cursor: pointer;
}

.track_container .album-cover {
  width: 60px;
  height: 60px;
}

.track_container .album-cover:hover,
.track_container .album-cover:focus,
.track_container .album-cover:active{
  opacity: 0.5;
  cursor: pointer;
}

@media (max-width: 1200px) {
  #artist-area {
    display: block;
  }
  #artist-area .sub_area {
    margin-top: 50px;
  }
  .singer-image-bottom {
    margin-top: 30px;
  }
}

@media (max-width: 992px) {
  .navbar .box {
    display: flex;
    justify-content: space-between;
  }
  .navbar .box .search-container input {
    width: 260px;
  }
  .navbar .box .search-container input::placeholder {
    font-size: 15px;
  }
  .container {
    margin: 100px auto 200px;
  }

  .track_info_box img {
    width: 200px;
    height: 200px;
  }
  .track_info h2 {
    font-size: 40px;
  }
  .track_info .bottom_text {
    margin-bottom: 25px;
  }
  .track_info .heart-btn {
    font-size: 20px;
  }
  .track_info .random {
    font-size: 20px;
  }

  .track_container .list_title div {
    font-size: 14px;
  }
  .track_container .list_title .play_time {
    display: none;
  }

  .track_container .track_container {
    padding: 0 40px;
  }
  .track_container .track_music .name {
    font-size: 14px;
  }
  .track_container .track_music div {
    font-size: 13px;
  }
  .track_container .album-cover {
    width: 40px;
    height: 40px;
  }
  .track_container .track_music .timer {
    display: none;
  }

  .music-info .thumb {
    align-items: center;
  }
  .music-info .thumb img {
    width: 50px;
    height: 50px;
  }
  .music-info .music-text h3 {
    font-size: 16px;
  }

  .music-info .music-text p {
    font-size: 12px;
  }
  .music-info .heart-btn {
    display: none;
  }
  .play-control .navigation #random,
  .play-control .navigation #rotate {
    display: none;
  }
  .ect-bar .voice,
  .ect-bar .list {
    display: none;
  }
  #album-area {
    justify-content: flex-start;
  }
}

@media (max-width: 768px) {
  .track-container .album {
    display: none;
  }
  .track-container .timer {
    display: none;
  }
}

@media (max-width: 665px) {
  .track_info h2 {
    font-size: 36px;
  }
  .track_info .icon_area {
    margin-top: 20px;
  }
  .navbar .box .btn {
    display: none;
  }
  #music-player {
    padding: 10px 20px 15px;
  }
  .singer-image-top span {
    font-size: 30px;
  }
  .singer-image-bottom .linked_artist {
    padding-right: 25px;
  }
  .singer-image-bottom .linked_artist:last-child {
    padding-right: 0;
  }
  #artist-area .sub_area h3,
  .album_box h3,
  .track_box h3 {
    font-size: 24px;
  }
  #album-area {
    justify-content: flex-start;
  }
  .album-container img {
    width: 20vw;
  }
  #album-area .album-container:nth-child(4),
  #album-area .album-container:nth-child(5),
  #album-area .album-container:last-child {
    display: none;
  }
  #album-area .album-container:nth-child(4),
  #album-area .album-container:nth-child(5),
  #album-area .album-container:last-child {
    display: none;
  }
}

@media (max-width: 576px) {
  .navbar .box {
    padding: 0 20px;
  }
  .track_info_box {
    display: block;
  }
  .track_info_box img {
    width: 100%;
    height: 100%;
    margin-bottom: 30px;
  }
  .track_info_box .track_info {
    padding-left: 0;
    text-align: center;
  }
  .track_container .list_title {
    display: none;
  }
  .track_container .track_music div {
    width: 20%;
  }
  .track_container .track_music div:first-child {
    width: 10%;
  }
  .track_container .track_music .name {
    width: 50%;
  }
  .track_container .track_music .album {
    display: none;
  }
  #music-player {
    display: block;
  }
  #music-player .music-info {
    text-align: center;
    display: contents;
  }
  #music-player .thumb {
    display: none;
  }
  .play-control .navigation {
    margin-top: 20px;
  }
  .play-control .progress-container {
    display: none;
  }
  .ect-bar .progress-container {
    display: none;
  }
  .singer-image-bottom .linked_img img {
    width: 20vw;
  }
  #artist-area {
    padding: 0 30px;
  }
  .album_box {
    padding: 0 30px 100px;
  }
  .track_box {
    padding: 0 30px 60px;
  }
  .singer-image-top {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .singer-image-top img {
    width: 200px;
  }
  .singer-image-top span {
    padding-top: 30px;
    margin-left: 0;
  }
  #artist-area .sub_area {
    text-align: center;
  }
  .singer-image-bottom {
    justify-content: center;
  }
  .singer-image-bottom .linked_artist span {
    font-size: 14px;
  }
  .album_box h3 {
    text-align: center;
  }
  #album-area {
    justify-content: space-around;
  }
  #album-area .album-container span {
    font-size: 14px;
  }
  #album-area .album-container:last-child {
    padding-right: 0;
  }
  .track-container {
    justify-content: space-between;
  }
  .track-container img {
    width: 14vw;
  }
  .track-container .name {
    width: 40%;
    font-size: 14px;
  }
  .track-container .artist {
    width: 20%;
    font-size: 12px;
  }
  #album-area .album-container span:first-child {
    width: 20vw;
  }
  #album-area .album-container {
    padding-right: 0;
  }
  .track-container .img {
    width: 30%;
  }
  .track-container .name {
    font-size: 12px;
  }
  .track-container .artist {
    width: 25%;
  }
  .navbar .box .search-container input {
    width: 35vw;
    padding: 7px 20px;
  }
  .navbar .box .search-container .fa-magnifying-glass {
    display: none;
  }
  .navbar .box .nav-logo {
    margin-right: 20px;
  }
}

@media (max-width: 443px) {
  #lowerBar .row,
  #recommendLowerBar .row,
  #recommendListLowerBar .row {
    margin-right: 2em;
    display: block;
    float: none;
  }

  #lowerBar .col,
  #recommendLowerBar .col,
  #recommendListLowerBar .col {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .titleSpace h2 {
    font-size: 23px;
  }
  #album-area .album-container {
    padding: 0 10px;
  }
}
