@charset "utf-8";

/* common */
body {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #000;
}
button{
  border: 0;
  background:none;
  color: #fff;
  font-size: 18px;
  font-weight: normal;
}

/* search-bar */
#search-bar {
  position: fixed;
  width: 100%;
  z-index: 1000;
}
#search-bar .navbar {
  background-color: #000; /*box-shadow: rgba(155, 155, 155, 0.2) 0px 0px 26px 0px;*/
  width: 100%;
  padding: 10px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
.navbar .box {
  justify-content: flex-start;
  padding: 0 60px;
}
.navbar .box .nav-logo {
  width: 240px;
  display: flex;
}
.navbar .box .search-container {
  position: relative;
}
.navbar .box .search-container input {
  border-radius: 8px;
  width: 450px;
  padding: 7px 50px;
  background-color: rgba(125, 125, 125, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.15);
}
.navbar .box .search-container input::placeholder {
  color: #808080;
  font-weight: 700;
}
.navbar .box .search-container .fa-magnifying-glass {
  position: absolute;
  top: 35%;
  left: 20px;
  color: #808080;
}
.navbar .box .btn {
  background-color: #176b3a;
  border-radius: 8px;
  border-style: none;
  color: #fff;
  display: inline-block;
  font-weight: 600;
  overflow: hidden;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
  padding: 0 30px;
}
.navbar .box .btn:hover,
.navbar .box .btn:active,
.navbar .box .btn:focus {
  opacity: 1;
  transform: translateY(0);
  transition-duration: 0.35s;
  background-color: #27ae60;
}

/* content */
.container {
  margin: 80px 15px;
  max-width: 1600px;
  height: 1000px;
  color: white;
}

/* music-player */
#music-player {
  width: 100%;
  position: fixed;
  bottom: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  display: flex;
  background-color: #360909;
  background-color: #181818;
  color: #fff;
  padding: 10px 50px 15px;
}

#music-player .music-info {
  width: 33.3%;
  display: flex;
}
.music-info .thumb {
  display: flex;
  margin-right: 20px;
}
.music-info .music-text h3 {
  font-size: 18px;
  font-weight: 700;
}
.music-info .music-text p:hover{
  text-decoration: underline;
}
.music-info .music-text p {
  font-size: 14px;
  margin-bottom: 0;
  color: #a2a2a2;
}
.music-info .heart-btn{
  background: none;
  border: 0;
  margin-bottom: 0;
  color: #a2a2a2;
  margin-left: 80px;
  font-size: 21px;
  display: flex;
  align-items: center;
}

.music-info .heart-btn:hover,.music-info .heart-btn:active,.heart-btn:focus{
  color: #ff4242;
}

#music-player .play-control {
  width: 33.3%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.play-control .navigation{
  display: flex;
  justify-content: center;
}
.play-control .navigation button{
  margin: 0 15px;
}
.play-control .navigation button:hover,.play-control .navigation button:focus{
  color: #27ae60;
}
.play-control .navigation button.big:hover,.play-control .navigation button.big:focus{
  color: #27ae60;
  border-color: #27ae60;
}
.play-control .navigation button.big{
  border: 2px solid #fff;
  border-radius: 50px;
  width: 35px;
  height: 35px;
}
#music-player .progress{
  height: 3px;
  background-color: #818181;
}
#music-player .progress:active{
  background-color: #fff;
}

#music-player .ect-bar {
  width: 33.3%;
  display: flex;
  justify-content: flex-end;
}
.ect-bar button{
  margin-left: 25px;
}
.ect-bar button:hover,.ect-bar button:focus{
  color: #27ae60;
}
.ect-bar .progress-container{
  display: flex;
  align-items: center;
  font-size: 20px;
}
.ect-bar .progress-container .progress{
  width: 100px;
  margin-left: 10px;
  background-color: #818181;
}
.ect-bar .progress-container .progress:active{
  background-color: #fff;
}
